<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <!----------------Header Section Starts------------------->
    <div id="aa" class="aaa">
        <div class="mn">
            <div class="an">
                <a href="">Home</a>
            </div>
            <div class="an">
                <a href="#services">Services</a>
            </div>
            <div class="an">
                <a href="">Gallery</a>
            </div>
            <div class="an">
                <a href="#about">About</a>
            </div>
            <div class="an">
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="kan">
            <span>Kanishk Upadhyay</span>
        </div>
        <div class="kk">
            <a href="">Home</a>
            <a href="#services">Services</a>
            <a href="">Gallery</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
        <div id="ham" class="ham">
            <i class="fa fa-list-ul" style="font-size:36px; color:#ff6820"></i>
        </div>
    </div>
    <!----------------Header Section Ends------------------->

    <!--**************Middle section starts***************-->
    <div class="middle">
        <div>
            <div class="all">
                <div class="we">
                    <h1>We will help you to</h1>
                </div>
                <div class="grow">
                    <h1>Grow your business</h1>
                </div>
                <div class="prof">
                    <span>We are the team of professional developer</span>
                </div>
                <br>
                <div class="read">
                    <button>Read more</button>
                </div>
            </div>
        </div>
        <div>
            <img class="hero" src="../images/growth.png" alt="" srcset="">
        </div>
    </div>
    <!--**************Middle section Ends***************-->
    <!--***************About us section starts*****************-->
    <div class="ab">
        <div class="about">
            <h1 id="about">About Us</h1>
        </div>
        <div class="busi">
            <span>grow your business with us</span>
        </div>
        <!---->
        <div class="main">
            <div class="ab">
                <img src="../images/about.svg" alt="" srcset="">
            </div>
            <div class="sec">
                <div class="proof">
                    <h1>We are the professional </h1>
                </div>
                <div class="dev">
                    <h1>Developer</h1>
                </div>
                <div class="span">
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, non placeat. Harum laudantium
                        corporis quo nesciunt! Beatae ipsa voluptatibus facilis?</span><br>
                </div>
                <div class="read">
                    <button id="more">Read more</button>
                </div>
            </div>
        </div>
    </div>
    <!--***************About us section ends*****************-->
    <!--***************Our service section starts*****************-->
    <div id="services">
        <div class="ka">
            <div class="service">
                <h1>Our Services</h1>
            </div>
            <div class="busi">
                <span>grow your business with us</span>
            </div>
        </div>
        <div class="card">
            <div class="card2">
                <div class="ss html">
                    <h2>Html</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
            <div class="card2">
                <div class="ss css">
                    <h2>Css</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
            <div class="card2">
                <div class="ss express">
                    <h2>Express js</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card1">
                <div class="ss angular">
                    <h2>Angular</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
            <div class="card1">
                <div class="ss javascript">
                    <h2>Javascript</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
            <div class="card1">
                <div class="ss mongo">
                    <h2>Mongo DB</h2>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla et laborum
                        distinctio</span>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <div>
            <section>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235814.25163536135!2d88.03586060976967!3d22.556738832242424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f88249be00ca5f%3A0x3f5496c42f4bd6e8!2sHowrah%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1601618728549!5m2!1sen!2sin"
                    width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </section>
        </div>
    </div>
    <div>
        <div id="contact" class="aa">
            <div class="contact">
                <h1>Contact us</h1>
            </div>
            <div class="we">
                <span>We will be happy to help you</span>
            </div>
        </div>
        <form action="/contact" method="POST">
            <div class="name">
                <label class="nn" for="">Name</label>
                <input type="text" name="name" placeholder="Full Name" id="">
            </div>
            <div class="email">
                <label class="em">Email Address</label>
                <input type="text" placeholder="Enter your email" name="email" id="">
                <small class="ww">We'll never share your email with anyone else</small>
            </div>
            <div class="phone">
                <label class="pp">Phone</label>
                <input type="text" name="phone" id="" placeholder="Phone Number">
            </div>
            <div class="message">
                <label class="mm">Message</label>
                <input type="text" placeholder="Messsage" name="message" id="">
            </div>
            <div class="btn">
                <button class="sum" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="last">
        <span>Created by Kanishk Upadhyay</span>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>